
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$viagol-primary: mat-palette($mat-deep-orange);
$viagol-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$viagol-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$viagol-theme: mat-light-theme($viagol-primary, $viagol-accent, $viagol-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($viagol-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
  padding: 15px;
}

.gol-brand-orange {
  color: #ec6e3b;
}

.vertical-space-sm {
  margin-top: 10px ;
}

.vertical-space-md {
  margin-top: 15px ;
}

.vertical-space-xl {
  margin-top: 25px ;
}

.vertical-space-2xl {
  margin-top: 35px ;
}

.full-width {
  width: 100%;
}


/* input color class */
::ng-deep input.mat-input-element {
  color: #ffffff !important;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ffffff !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #ffffff !important;
}

.orange-border-md {
  border: #ec6e3b 1px solid;
  box-shadow: 0px 6px 6px -2px rgba(82, 86, 89,.4) !important;
}
.orange-bg {
  background-color: #ec6e3b;
}

.mat-stroked-button {
  background-color: white;
  color: #ec6e3b;
}

.mat-stroked-button:hover {
  background-color: #ec6e3b;
  color: white;
}

.pointer {
  cursor: pointer;
}
.mat-input-element mat-form-field-autofill-control login-input ng-tns-c52-1 cdk-text-field-autofill-monitored {
  color: #ec6e3b;
}

.horizontal-center {
  text-align: center;
}
